<% include ../partials/boilerplate %>
 
<form method='POST' action='/quotes'>
  <input name='quote' type='text' />
  <input name='author' type='text' />
  <input name='genre' type='text' />
  <input type='submit' value='Submit!' />
</form>

<% include ../partials/end %>