<% include ../partials/boilerplate %>

<div class='<%= quoteClass %>'>
  <h3><%= quote.quote%></h3>
  <span class='author'><%= quote.author %></span>
  <span class='genre'><%= quote.genre %></span>
</div>
  
<% include ../partials/end %>
